:root {
    --child-width: 20px;
}
html {
    margin: 0;
}
body {
    margin: 0;
}

#outer-container {
    width: 100vw;
    display: flex;
    justify-content: center;

    #container {
        display: grid;
        grid-template-columns: repeat(var(--num-cols), var(--child-width));

        .child {
            cursor: pointer;
            box-sizing: border-box;
            border: 1px solid black;
            height: var(--child-width);
            width: var(--child-width);

            &.alive {
                background-color: red;
            }
        }
    }
}
